<!--The content below is only a placeholder and can be replaced.-->
<body class="my-blog">
<!-- header-section-starts -->
<div class="header">
  <div class="container">
    <div class="logo">
      <a [routerLink]="[ '/']"><h1>Tech Inside</h1></a>
    </div>
    <div class="pages">
      <ul>
        <li><a class="active" [routerLink]="[ '/articles']">Articles</a></li>
        <!--<li><a href="3dprinting.html">3D Printers</a></li>-->
        <!--<li><a href="404.html">Tutorials</a></li>-->
      </ul>
    </div>
    <div class="navigation">
      <ul>
        <!--<li><a href="contact.html">Advertise</a></li>-->
        <!--<li><a href="about.html">About Me</a></li>-->
        <!--<li><a class="active" href="contact.html">Contact Me</a></li>-->
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="container">
  <!--<div class="header-bottom">-->
    <!--<div class="type">-->
      <!--<h5>Article Types</h5>-->
    <!--</div>-->
    <!--<span class="menu"></span>-->
    <!--<div class="list-nav">-->
      <!--<ul>-->
        <!--<li><a href="3dprinting.html">3D Printing</a></li>|-->
        <!--<li><a href="materials.html">Materials</a></li>|-->
        <!--<li><a href="printing.html">Printing</a></li>|-->
        <!--<li><a href="filestoprint.html">Files to Print</a></li>|-->
        <!--<li><a href="404.html">Videos</a></li>|-->
        <!--<li><a href="about.html">About</a></li>-->
      <!--</ul>-->
    <!--</div>-->
    <!--&lt;!&ndash; script for menu &ndash;&gt;-->
    <!--<script>-->
      <!--$( "span.menu" ).click(function() {-->
        <!--$( ".list-nav" ).slideToggle( "slow", function() {-->
          <!--// Animation complete.-->
        <!--});-->
      <!--});-->
    <!--</script>-->
    <!--&lt;!&ndash; script for menu &ndash;&gt;-->

    <!--<div class="clearfix"></div>-->
  <!--</div>-->
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="col-md-3 footer-links">
        <h4>Other pages and things</h4>
        <a href="#">Design a creative Blog</a>
        <a href="#">Design a iPad Website</a>
        <a href="#">Single Page sales portfolio </a>
        <a href="#">Flat product website in Photoshop</a>
        <a href="#">Design a creative Blog</a>
        <a href="#">Design a iPad Website</a>
        <a href="#">Single Page sales portfolio </a>
        <a href="#">Flat product website</a>
      </div>
      <div class="col-md-3 footer-links span_66">
        <a href="#">Flat product website in Photoshop</a>
        <a href="#">Design a creative Blog</a>
        <a href="#">Design a iPad Website </a>
      </div>
      <div class="col-md-3 footer-links">
        <h4>Relevant Articles</h4>
        <a href="#">Design a creative Blog</a>
        <a href="#">Design a iPad Website</a>
        <a href="#">Single Page sales portfolio </a>
        <a href="#">Flat product website</a>
        <a href="#">Design a creative Blog</a>
      </div>
      <div class="col-md-3 footer-links">
        <h4>Other pages and things</h4>
        <a href="#">Blaz Robar</a>
        <a href="#">Nick Toranto</a>
        <a href="#">Joisp Kelava</a>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="copyrights">
        <p>Konstructs © 2015 All rights reserved | Template by  <a href="http://w3layouts.com">  W3layouts</a></p>
      </div>
    </div>
  </div>
</div>
</body>
